@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #475467;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

.chakra-popover__popper {
  transform: translate3d(-440px, 32px, 0px) !important;
}
