@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #475467;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

.chakra-popover__popper {
  /* transform: translate3d(0px, 32px, 0px) !important; */
  /* transform: translate3d(-440px, 32px, 0px) !important; */
  width: 100% !important;
}

/* @media only screen and (max-width: 1200px) {
  .chakra-popover__popper {
    transform: translate3d(-300px, 32px, 0px) !important;
  }
} */

.progress-container {
  width: 100%;
}
.progress-bar {
  height: 3px;
  background-color: #f0f0f0;
  border-radius: 5px;
  /* margin-bottom: 10px; */
  overflow: hidden;
  position: relative;
}
.fill {
  height: 100%;
  width: 0;
  background-color: #0246d8aa;
  position: absolute;
  top: 0;
  left: 0;
  animation: fillAnimation 5s linear forwards;
}
@keyframes fillAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.react-pagination {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
}
.react-pagination .page-item {
  background-color: #eeeeee26;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.react-pagination .previous-link {
  flex: 1;
}
.react-pagination .next-link {
  flex: 1;
  text-align: right;
}

.react-pagination li.active {
  background-color: #edededdf;
}

@media (max-width: 540px) {
  .react-pagination .page-item {
    display: none;
  }
  .react-pagination li.active {
    display: grid;
    place-content: center;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0px;
  height: 2px;
  margin-top: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1) !important;
}

.active-link {
  background: #f9f8f8b0;
}
